# Format:
#
# name,baseTick,randomTick
#
# name:        The Entity class name registered in EntityList. (Ex. villager/skeleton/etc.)
#
# baseTick:    Minimum amount of ticks before playing a chat message for the entity.
#
# randomTick:  Range for the random amount of ticks to be added to the baseTick.
#              Ticks until next message = baseTick + (Random number between 0 and randomTick)
#
# Default values are 400,1200 for all entities except Squids, which are 600,1200
#

squid,12000,24000
villager,600,1200
zombie,1200,2400
skeleton,1200,2400
witch,600,1200
pig,12000,24000
creeper,1600,3400
villager_golem,1200,2400
painting,12000,24000
vex,6000,8000
wither_skeleton,2400,4800
stray,1200,2400
snowvillager,1200,2400
archaeologist,1200,2400
pirate,1200,2400
illusion_illager,2400,4800
vindication_illager,2400,4800
evocation_illager,2400,4800
if_troll,2400,4800
if_pixie,2400,4800
sim_adventurer,12000,24000
sim_human,12000,24000
sim_villager,12000,24000
icedragon,216000,288000
firedragon,216000,288000
lightningdragon,216000,288000
golem,4800,8000