# Configuration file

breeding {
    # If at least this amount of breedable animals are within five blocks, new babies will not spawn.
    I:CrowdLimit=10

    # Prevents overbreeding.
    B:PoliceCrowding=false
}


general {
    # Automatically run clear entity and unload chunk checks
    B:AutomaticRemoval=false

    # Run all non-command effects even when not on a dedicated server
    B:EffectsOnSP=false

    # List of Entities not to destroy, use namespace:* to blacklist a whole mod.
    S:EntityBlackList <
        minecraft:villager
        minecraft:pig
        minecraft:chicken
        minecraft:rabbit
        minecraft:sheep
        defiledlands:book_wyrm
        astikorcarts:mobcart
        quark:glass_item_frame
        minecraft:cow
        minecraft:armor_stand
        minecraft:item_frame
        minecraft:boat
        iceandfire:if_cockatrice
        iceandfire:myrmex_sentinel
        iceandfire:myrmex_royal
        iceandfire:myrmex_soldier
        iceandfire:myrmex_worker
        iceandfire:dragonskull
        minecraft:horse
        lycanitesmobs:chupacabra
        lycanitesmobs:silex
        lycanitesmobs:yale
        lycanitesmobs:ika
        lycanitesmobs:nymph
        lycanitesmobs:arisaur
        lycanitesmobs:aspid
        lycanitesmobs:bobeko
        lycanitesmobs:joust
        lycanitesmobs:krake
        lycanitesmobs:maka
        lycanitesmobs:pinky
        iceandfire:if_pixie
        minecraft:donkey
        quark:pirate
        minecraft:witch
        minecraft:wolf
        sit:entity_sit
        iceandfire:if_troll
        iceandfire:snowvillager
        minecraft:painting
        iceandfire:hippocampus
        iceandfire:hippogryph
        iceandfire:dragonice
        iceandfire:gorgon
        iceandfire:myrmex_queen
        iceandfire:dragonegg
        minecraft:villager_golem
        minecraft:hopper_minecart
        iceandfire:firedragon
        minecraft:ocelot
        quark:stoneling
        lycanitesmobs:rahovart
        lycanitesmobs:asmodeus
        lycanitesmobs:amalgalich
        battletowers:golem
        minecraft:ender_dragon
        minecraft:ender_crystal
        minecraft:wither_skull
        minecraft:wither
        minecraft:snowman
        minecraft:shulker
        minecraft:skeleton_horse
        minecraft:polar_bear
        minecraft:zombie_villager
        minecraft:zombie_horse
        minecraft:mooshroom
        minecraft:parrot
        minecraft:llama
        minecraft:minecart
        minecraft:chest_minecart
        xat:alphawolf
        testdummy:dummy
        rustic:chair
        rustic:tomato
        quark:foxhound
        quark:flat_item_frame
        quark:chest_passenger
        quark:archaeologist
        quark:colored_item_frame
        quark:crab
        quark:parrot_egg
        playerbosses:player_boss
        iceandfire:amphithere
        iceandfire:cyclops
        iceandfire:deathwormegg
        iceandfire:dragonfire
        iceandfire:icedragon
        iceandfire:hippogryphegg
        iceandfire:if_cockatriceegg
        iceandfire:myrmex_egg
        iceandfire:seaserpent
        iceandfire:siren
        iceandfire:stonestatue
        iceandfire:stymphalianbird
        lycanitesmobs:aegis
     >

    # Interval between clearing entities in minutes. The interval is actually 1 minute longer, as it includes a 1 minute warning.
    I:EntityInterval=15

    # List of Items not to destroy, use namespace:* to blacklist a whole mod.
    S:ItemBlackList <
        notreepunching:*
        dynamictrees:*
        defiledlands:dirt_defiled
        defiledlands:grass_defiled
        defiledlands:gravel_defiled
        defiledlands:sand_defiled
        defiledlands:sandstone_defiled
        defiledlands:stone_defiled
        iceandfire:ash
        iceandfire:chared_cobblestone
        iceandfire:chared_dirt
        iceandfire:chared_grass
        iceandfire:chared_grass_path
        iceandfire:chared_gravel
        iceandfire:chared_stone
        iceandfire:frozen_cobblestone
        iceandfire:frozen_dirt
        iceandfire:frozen_grass
        iceandfire:frozen_grass_path
        iceandfire:frozen_gravel
        iceandfire:frozen_splinters
        iceandfire:frozen_stone
        minecraft:cobblestone
        minecraft:dirt
        minecraft:grass
        minecraft:sand
        minecraft:snow
        minecraft:snow_layer
        minecraft:stone
        minecraft:gravel
        minecraft:log
        minecraft:glass
        minecraft:sandstone
        minecraft:brick_block
        minecraft:netherrack
        minecraft:ice
        minecraft:clay
        minecraft:soul_sand
        minecraft:end_stone
        minecraft:hardened_clay
        minecraft:packed_ice
        minecraft:red_sandstone
        minecraft:leaves
        minecraft:stick
        minecraft:apple
        quark:biome_cobblestone
        quark:elder_prismarine
        quark:jasper
        quark:limestone
        quark:marble
        quark:slate
     >

    # Maximum mobs spawnable per chunk. 0 disables.
    I:PerChunkSpawnLimit=0

    # If the server's main TPS drops below this number Lag'B'Gon will try to unload chunks to improve TPS
    I:TPSForUnload=12

    # If false, treats the entity blacklist as a whitelist
    B:ToggleEntityBlacklist=true

    # If false, treats the item blacklist as a whitelist
    B:ToggleItemBlacklist=false

    # Interval between unloading chunks in minutes.
    I:UnloadInterval=15
}


